td{
    padding: 10px;
}
td .etiquetas{
    min-width: 200px;
}
td .comentario{
    max-width: 200px;
}
td div{
    max-width: 400px;
    max-height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
}
input{
    padding: 5px;
}
table{
    margin-top: 30px;
    margin-bottom: 20px;
    border-collapse: collapse;
}
.prometedor{
    background-color: #90EE90;
}
.desconocida{
    background-color: #D3D3D3;
}
.columna-tipo {
    width: 80px;
}
